body{
    margin: 0;
}
.navbar{
    height: 50px;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar > a {
    color: black; 
    font-weight: 600;
    text-decoration: none;
}

.navbar > a:first-child{
    display: none;
}

.display {
    display: flex;
    align-items: center;
}

span{
    text-decoration: none;
    margin-left: 5px;
}